@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); /*Adicionei font do google*/

body{
    background:#bbd9ed;
    font-family: 'Patrick Hand', cursive, Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

#cabecalho p{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
}

.cabecalho_logo{
    display: flex;
    justify-content:space-evenly;
    margin-top: 15px;
}
#logo{
    margin-left: 0;
    height: auto;
    width: 200px;
    align-items: center;

}

#title, .subtitle, .post-title {
    color: #02052b;
}
#title{
    font-size: 90px;
    text-transform: uppercase;
    margin: auto;
}
.post-title{
    text-align: center;
    margin-bottom: 16px;
    font-size: 18px;
}

.post h3{
    font-size: 28px;
}

.post{
    display: flex;
    background: #f2f3f7;
    padding: 15px;
    border: #02052b 5px dotted;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post img{
    width: 150px;
    height: auto;
}
.container {
    background: #f2f3f7;
    padding: 15px;
    border: #02052b 5px dotted;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;

}
.conteudo{
    margin: 15px;
    margin-left: 50px;
    text-transform: capitalize;
    border-radius: 90px;
    box-shadow: #02052b 10px;
}

.img_receita{
    width: 280px;
    height: 140px;
    
}

a{
    color: #02052b;
    text-decoration: none;
}

ul#contato{
    list-style-type: none;
}
